// primary color
$white-100: #F2F6FA;
$white-200: #FAFBFC;

// blue color
$blue-100: #0786BD;
$blue-200: #1e5199;
$blue-300: #3B649F;
$blue-400: #12AACE;

// green colors
$green-100: #0DBEA9;

// pink colors
$pink-100: #DB3394;
