html {
  font-size: 16px;
}

// text formats
h1 {
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

//text
h4 {
  font-size: 12px;
}

//small
h5 {
  font-size: 10px;
}
