.logo_facebook {
    width: 21px;
    height: 21px;
    background: url('/facebook.png');
    background-size: contain;
    display: block;
}

.logo_facebook--red {
    width: 21px;
    height: 21px;
    background: url('/facebook_red.svg');
    background-size: contain;
    display: block;
}


.logo_twitter {
    width: 21px;
    height: 21px;
    background: url('/twitter.png');
    background-size: contain;
    display: block;
}


.logo_twitter--red {
    width: 21px;
    height: 21px;
    background: url('/twitter_red.svg');
    background-size: contain;
    display: block;
}
.logo_behance {
    width: 21px;
    height: 21px;
    background: url('/behance.png');
    background-size: contain;
    display: block;
}
